@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

:root {
  --maincolor: #70cdf4;
  --second: #092a5e;
}

/* footer */

.footer {
  background-color: var(--maincolor);
}

.footer .footer-main {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer .footer-main .footer-wrapper {
  width: 80%;
}

.footer .footer-main .footer-wrapper .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  row-gap: 30px;
}

.footer .footer-main .footer-wrapper .content .box {
  font-size: 0.9375em;
  line-height: 1.618;
  color: #fff;
}

.footer .footer-main .footer-wrapper .content .box .icon-img {
  display: inline-block;
  background-color: #fff;
  border-radius: 6px;
  padding: 20px 20px 10px;
}

.footer .footer-main .footer-wrapper .content .box .row {
  display: flex;
}

.footer .footer-main .footer-wrapper .content .box .tekst {
  font-size: 15px;
}

.footer .footer-main .footer-wrapper .content .box .tekst .row i {
  font-size: 22px;
}

.footer .footer-main .footer-wrapper .content .box .tekst .row li {
  margin-right: 7px;
}

.footer .footer-main .footer-wrapper .content .box ul {
  list-style: none;
}

.footer .footer-main .footer-wrapper .content .box li {
  line-height: 1.618;
  list-style: none;
}

.footer .footer-main .footer-wrapper .content .box li a {
  color: #fff;
  font-weight: 500;
  transition: 300ms;
}

.footer .footer-main .footer-wrapper .content .box li a:hover {
  color: #fcb83f;
  font-weight: 500;
}

.footer .footer-main .footer-wrapper .content .box h5 {
  text-transform: uppercase;
  margin-bottom: 12px;
  color: #fff;
}

.footer .footer-main .footer-wrapper .content .box a {
  color: var(--second);
  font-weight: 700;
  text-decoration: none;
}

.footer .footer-bottom {
  background-color: var(--second);
  padding-top: 12px;
  padding-bottom: 6px;
}

.footer .footer-bottom .bottom-wrapper {
  display: flex;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
}

@media (max-width: 500px) {
  .footer .footer-main .footer-wrapper .content .box {
    width: 80%;
  }
}

/* login / register */

.login {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px 0px 20px 0px;
}

.login .login-wrapper {
  width: 80%;
  height: auto;
}

.login .content {
  padding: 20px;
}

.login .container {
  display: flex;
}

.login .content H1 {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 120%;
  color: var(--second);
  font-weight: normal;
}

.login .tabbladen {
  display: flex;
  margin: 0 20px;
  width: 42%;
  border-bottom: 1px solid #dcdcdc;
  list-style: none;
}

.login .tabbladen li {
  margin-right: 20px;
  display: inline-block;
  margin-right: 30px;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--second);
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.login .tabbladen .active {
  font-weight: bold;
  border-bottom: 2px solid var(--second);
  cursor: default;
  padding-bottom: 10px;
  color: var(--second);
}

.formlayout {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.formlayout .login {
  flex-direction: column;
  color: var(--second);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.formlayout .login .password,
.formlayout .login .mail {
  padding-top: 20px;
}

.formlayout .login input {
  padding: 0 14px;
  width: 100%;
  height: 35px;
  border: 1px solid grey;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none !important;
}

.formlayout .login .button input {
  width: 100%;
  margin-bottom: 0;
  display: inline-block;
  min-height: 40px;
  text-align: center;
  padding: 11px 20px 9px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 0;
  border-bottom: 2px solid var(--second);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: var(--second);
  font-family: tuitypelightregular, Arial;
  color: var(--second);
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

.formlayout .login .button input:hover {
  background-color: var(--maincolor);
  cursor: pointer;
}

/* header */

header {
  display: flex;
  flex-wrap: wrap;
}

.up-head {
  background-color: #70cdf4;
  width: 100%;
  height: 70px;
  z-index: 2;
  box-shadow: 0px 10px 13px -7px #23cfeea4,
    -4px -20px 0px -20px rgba(255, 255, 255, 0);
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: black;
  display: block;
  padding: 26px 16px;
  text-decoration: none;
  border: 0px;
}

.misc-buttons a {
  padding: 24px 16px;
}

.misc-buttons a i {
  font-size: larger;
}

nav button {
  background-color: #70cdf4;
  transition: 500ms;
  border: 0px;
}

nav a:hover {
  color: black;
  transition: 500ms;
}

nav .main-buttons button:hover {
  background-color: white;
  transition: 500ms;
}

nav .button-search:hover {
  color: white;
  transition: 500ms;
}

.misc-buttons a {
  transition: 500ms;
}
.misc-buttons a:hover {
  background-color: white;
  transition: 500ms;
}

.up-head a img {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
}

.center {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: nowrap;
}

.down-head {
  background-color: antiquewhite;
  position: relative;
  width: 100%;
  height: 335px;
}

.search-box {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

.misc-buttons {
  display: flex;
  flex-wrap: nowrap;
  height: auto;
  width: auto;
}

.align-search {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

.search-nav {
  background-color: white;
  width: 250px;
  border: none;
  border-radius: 5px;
  font-size: medium;
}

.form-search {
  width: 100%;
  height: auto;
}

.button-search {
  background-color: transparent;
  border-color: none;
  border: none;
  font-size: larger;
  text-decoration: none;
  cursor: pointer;
}

video {
  width: 100%;
  height: 99.94%;
  object-fit: cover;
  position: absolute;
}

.out-book {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.in-book {
  background-color: #70cdf4;
  height: 101px;
  width: 80%;
  padding: 10px;
}

.option-book {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.wrapper-book {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  height: 100%;
  width: 100%;
}

.name-icon {
  display: flex;
  flex-wrap: nowrap;
}

.search-option {
  background-color: #70cdf4;
  width: 80%;
  height: auto;
}

.option-search {
  width: 60%;
  z-index: 999;
}

header label,
header input {
  width: 85%;
  height: 50%;
}

.collapsible,
#date {
  color: black;
  background-color: white;
  display: block;
  padding: 10px 24px;
  text-decoration: none;
  border: 0px;
  border-radius: 5px;
}

.block-option-search {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}

.book {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.button-zoek {
  color: white;
  background-color: #092a5e;
  border-radius: 5px;
  padding: 12px 16px;
}

.nav-form {
  display: flex;
  flex-wrap: nowrap;
}

.dropping {
  width: 100%;
  height: auto;
  display: none;
}

.drop-book1 {
  width: 85%;
  height: 25px;
  background-color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.drop-book2 {
  width: 185%;
  height: auto;
  background-color: white;
  padding: 10px;
}

.dropdown li {
  list-style: none;
}

.dropdown li a {
  list-style: none;
  color: black;
  text-decoration: none;
  transition: 0.5s;
}

.dropdown li a:hover {
  color: orangered;
  transition: 0.5s;
}

.book-sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.label-warning {
  background-color: var(--maincolor);
}

/* profile */

body.profile {
  background-color: rgba(0, 170, 255, 0);
}

.profile .sunrise {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  z-index: 2;
}

.profile-nav,
.profile-info {
  margin-top: 30px;
}

.profile-nav .user-heading {
  background: var(--maincolor);
  color: #fff;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 30px;
  text-align: center;
}

.profile-nav .user-heading.round a {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
}

.profile-nav .user-heading a img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.profile-nav .user-heading h1 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 5px;
}

.profile-nav .user-heading p {
  font-size: 12px;
}

.profile-nav ul {
  margin-top: 1px;
}

.profile-nav ul > li {
  border-bottom: 1px solid #ebeae6;
  margin-top: 0;
  line-height: 30px;
}

.profile-nav ul > li:last-child {
  border-bottom: none;
}

.profile-nav ul > li > a {
  border-radius: 0;
  -webkit-border-radius: 0;
  color: var(--second);
  border-left: 5px solid #fff;
}

.profile-nav ul > li > a:hover,
.profile-nav ul > li > a:focus,
.profile-nav ul li.active a {
  background: #f8f7f5 !important;
  border-left: 5px solid var(--maincolor);
  color: var(--second) !important;
}

.profile-nav ul > li:last-child > a:last-child {
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}

.profile-nav ul > li > a > i {
  font-size: 16px;
  padding-right: 10px;
  color: var(--second);
}

.r-activity {
  margin: 6px 0 0;
  font-size: 12px;
}

.p-text-area,
.p-text-area:focus {
  border: none;
  font-weight: 300;
  box-shadow: none;
  color: #c3c3c3;
  font-size: 16px;
}

.profile-info .panel-footer {
  background-color: #f8f7f5;
  border-top: 1px solid #e7ebee;
}

.profile-info .panel-footer ul li a {
  color: #7a7a7a;
}

.bio-graph-heading {
  background: var(--maincolor);
  color: #fff;
  text-align: center;
  font-style: italic;
  padding: 40px 110px;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-weight: 300;
}

.bio-graph-info {
  color: var(--second);
}

.bio-graph-info h1 {
  font-size: 22px;
  font-weight: 300;
  margin: 0 0 20px;
}

.bio-row {
  width: 50%;
  float: left;
  margin-bottom: 10px;
  padding: 0 15px;
}

.bio-row p span {
  width: 100px;
  display: inline-block;
}

.bio-chart,
.bio-desk {
  float: left;
}

.bio-chart {
  width: 40%;
}

.bio-desk {
  width: 60%;
}

.bio-desk h4 {
  font-size: 15px;
  font-weight: 400;
}

.bio-desk h4.terques {
  color: #4cc5cd;
}

.bio-desk h4.red {
  color: #e26b7f;
}

.bio-desk h4.green {
  color: #97be4b;
}

.bio-desk h4.purple {
  color: #caa3da;
}

.file-pos {
  margin: 6px 0 10px 0;
}

.profile-activity h5 {
  font-weight: 300;
  margin-top: 0;
  color: var(--second);
}

.summary-head {
  background: #ee7272;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #ee7272;
}

.summary-head h4 {
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.summary-head p {
  color: var(--second);
}

ul.summary-list {
  display: inline-block;
  padding-left: 0;
  width: 100%;
  margin-bottom: 0;
}

ul.summary-list > li {
  display: inline-block;
  width: 19.5%;
  text-align: center;
}

ul.summary-list > li > a > i {
  display: block;
  font-size: 18px;
  padding-bottom: 5px;
}

ul.summary-list > li > a {
  padding: 10px 0;
  display: inline-block;
  color: #818181;
}

ul.summary-list > li {
  border-right: 1px solid var(--second);
}

ul.summary-list > li:last-child {
  border-right: none;
}

.activity {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.activity.alt {
  width: 100%;
  float: right;
  margin-bottom: 10px;
}

.activity span {
  float: left;
}

.activity.alt span {
  float: right;
}
.activity span,
.activity.alt span {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #eee;
  text-align: center;
  color: var(--second);
  font-size: 16px;
}

.activity.terques span {
  background: #8dd7d6;
}

.activity.terques h4 {
  color: #8dd7d6;
}
.activity.purple span {
  background: #b984dc;
}

.activity.purple h4 {
  color: #b984dc;
}
.activity.blue span {
  background: #90b4e6;
}

.activity.blue h4 {
  color: #90b4e6;
}
.activity.green span {
  background: #aec785;
}

.activity.green h4 {
  color: #aec785;
}

.activity h4 {
  margin-top: 0;
  font-size: 16px;
}

.activity p {
  margin-bottom: 0;
  font-size: 13px;
}

.activity .activity-desk i,
.activity.alt .activity-desk i {
  float: left;
  font-size: 18px;
  margin-right: 10px;
  color: var(--second);
}

.activity .activity-desk {
  margin-left: 70px;
  position: relative;
}

.activity.alt .activity-desk {
  margin-right: 70px;
  position: relative;
}

.activity.alt .activity-desk .panel {
  float: right;
  position: relative;
}

.activity-desk .panel {
  background: var(--second);
  display: inline-block;
}

.activity .activity-desk .arrow {
  border-right: 8px solid #f4f4f4 !important;
}
.activity .activity-desk .arrow {
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  display: block;
  height: 0;
  left: -7px;
  position: absolute;
  top: 13px;
  width: 0;
}

.activity-desk .arrow-alt {
  border-left: 8px solid #f4f4f4 !important;
}

.activity-desk .arrow-alt {
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  display: block;
  height: 0;
  right: -7px;
  position: absolute;
  top: 13px;
  width: 0;
}

.activity-desk .album {
  display: inline-block;
  margin-top: 10px;
}

.activity-desk .album a {
  margin-right: 10px;
}

.activity-desk .album a:last-child {
  margin-right: 0px;
}
